<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<meta charset="utf-8">
		<title>Popous</title>
		<meta name="generator" content="Bootply" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<link href="assets/css/bootstrap.min.css" rel="stylesheet">
		<link href="assets/css/styles_member.css" rel="stylesheet">
    <!--fortawesome-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
		<link rel="icon" type="image/png" href="assets/img/favicon.ico" />
	</head>
	<body onresize="resize()">
<div class="wrapper">
    <div class="box">
        <div class="row row-offcanvas row-offcanvas-left">


    <!-- sidebar -->
            <div class="hidden-xs column col-sm-2 col-xs-1 sidebar-offcanvas" id="sidebar">
                <div id="userphoto-div">
                    <a id="userphoto-setting"  href="#editModal" role="button" data-toggle="modal">
                      <span class="roll"></span>
											<% if(user['imgContentData']=='null') {%>
											<img src="assets/img/<%=user['imgname']%>.jpg" id="userphoto" class="img-responsive displayed" alt="">
											<% }else {%>
											<img src="<%= user['imgContentData'] %>" id="userphoto" class="img-responsive" alt="">
											<% } %>
                    </a>
                </div>
                <div id="idname-div">
                    <h3><%= user['idname'] %></h3>
                </div>

              	<ul class="nav">
          			<li><a href="#" data-toggle="offcanvas" class="visible-xs text-center"><i class="glyphicon glyphicon-chevron-right"></i></a></li>
            	  </ul>

                <ul class="nav hidden-xs" id="lg-menu">
                    <li class="active"><a href="#groups"><i class="glyphicon glyphicon-list-alt"></i> 社團</a></li>
                    <li><a href="#bookmarks"><i class="glyphicon glyphicon-list"></i> 粉絲專頁</a></li>
                    <li><a href="#game"><i class="glyphicon glyphicon-paperclip"></i> 遊戲</a></li>
                    <li><a href="#messages"><i class="glyphicon glyphicon-refresh"></i> 聊天室</a></li>
                </ul>

		<!--sidebar footer-->
                <ul class="list-unstyled hidden-xs" id="sidebar-footer">
                    <li>
                      <div id="logo-footer-div">
                        <img src="assets/img/logo.png" id="logo-footer" class="img-responsive">
                      </div>
                    </li>
										<!--
                    <li>
                      <a href="https://www.facebook.com/profile.php?id=100001439071711" target="_blank"><i class="fa fa-facebook-official"></i> Irene</a>
                    </li>
									-->
                    <li>
                      <div>
                        <p>Copyright © Irene 2016</p>
                      </div>
                    </li>
                </ul>



      <!-- tiny only nav
              <ul class="nav visible-xs" id="xs-menu">
                  	<li><a href="#featured" class="text-center"><i class="glyphicon glyphicon-list-alt"></i></a></li>
                    <li><a href="#stories" class="text-center"><i class="glyphicon glyphicon-list"></i></a></li>
                  	<li><a href="#" class="text-center"><i class="glyphicon glyphicon-paperclip"></i></a></li>
                    <li><a href="#" class="text-center"><i class="glyphicon glyphicon-refresh"></i></a></li>
                </ul>
-->
            </div>
            <!-- /sidebar -->

            <!-- main right col -->
            <div class="column col-sm-10 col-xs-12" id="main">

                <!-- top nav -->
              	<div class="navbar navbar-blue navbar-static-top">
                    <div class="navbar-header">
                      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle</span>
                        <span class="icon-bar"></span>
          				      <span class="icon-bar"></span>
          				      <span class="icon-bar"></span>
                      </button>
                      <a href="/member" class="navbar-brand logo">P</a>
                      <div id="navbar-userphoto-div" class="visible-xs">
													<% if(user['imgContentData']=='null') {%>
													<img src="assets/img/<%=user['imgname']%>.jpg" id="navbar-userphoto" class="img-responsive displayed" alt="">
													<% }else {%>
													<img src="<%= user['imgContentData'] %>" id="navbar-userphoto" class="img-responsive" alt="">
													<% } %>
                      </div>
          <!--xs的還是不要顯示名字好了
                      <div id="navbar-idname-div" class="visible-xs">
                          <h3 id="navbar-idname"><%= user['idname'] %></h3>
                      </div>
          -->
                  	</div>
                  	<nav class="collapse navbar-collapse" role="navigation">
                    <form class="navbar-form navbar-left">
                        <div class="input-group input-group-sm" style="max-width:360px;">
                          <input type="text" class="form-control" placeholder="Search" name="srch-term" id="srch-term">
                          <div class="input-group-btn">
                            <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                          </div>
                        </div>
                    </form>
                    <ul class="nav navbar-nav">
                      <li>
                        <a href="#postModal" role="button" data-toggle="modal"><i class="glyphicon glyphicon-plus"></i> Post</a>
                      </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-user"></i></a>
                        <ul class="dropdown-menu">
                          <li><a href="">More</a></li>
                          <li><a href="">More</a></li>
                          <li><a href="">More</a></li>
                          <li><a href="">More</a></li>
                          <li><a href="">More</a></li>
                        </ul>
                      </li>
                    </ul>
                  	</nav>
                </div>
                <!-- /top nav -->

                <div class="padding">
                    <div class="full col-sm-9">
                        <!-- content -->
                      	<div class="row grid">
													<% if (userpost.length){ %>
														<% userpost.forEach(function(userpost){ %>

	                         <div class="col-sm-4 grid-item">
	                              <div class="panel panel-default">
	                                <div class="panel-thumbnail">
																		<img src="data:image/png;base64,<%=userpost['imgContentData'] %>" class="img-responsive margin-center" alt="">
																	</div>
																	<div class="panel-body-name">
																		<div class= "row panel-body-margin-bottom">
																			<div>
																				<% if(userpost.userid['imgContentData']=='null') {%>
																				<img src="assets/img/<%=userpost.userid['imgname']%>.jpg" class="post-userimg displayed" alt="">
																				<% }else {%>
																				<img src="<%= userpost.userid['imgContentData'] %>" class="post-userimg" alt="">
																				<% } %>
																			</div>
																			<div class="post-user-name">
																				<p ><%= userpost.userid['idname'] %></p>
																			</div>
																		</div>
																	</div>
	                                <div class="panel-body">
		                                <p ><%= userpost['postcontent'] %></p>
	                                </div>
	                              </div>
	                          </div>
														<% }) %>
													<%	} %>
                       </div>
                    </div><!-- /col-9 -->
                </div><!-- /padding -->
            </div>
            <!-- /main -->

        </div>
    </div>
</div>

<!--edit profolio-->
	<div id="editModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					<i class="fa fa-pencil-square-o" aria-hidden="true"></i><span class="edit-title">編輯你的個人資料</span>
				</div>
				<div class="modal-body">
					<form id="edit-person-form" class="form center-block" method="put" enctype="multipart/form-data">
						<div class="form-group">
							<!--edit photo-->
							<div class= "row form-row-magin">
								<div id="edit-userphoto-div" class= "margin-center">
									<% if(user['imgContentData']=='null') {%>
									<img src="assets/img/<%=user['imgname']%>.jpg" class="img-responsive displayed margin-center" alt="">
									<% }else {%>
									<img src="<%= user['imgContentData'] %>" class="img-responsive margin-center" alt="">
									<% } %>
								</div>
							</div>
							<!--edit name-->
							<div class="row form-row-magin">
								<div class="col-xs-3 col-sm-3 text-align-ceenter">
									<h5>修改名字</h5>
								</div>
								<div class="col-xs-9 col-sm-6">
							  	<input id="edit-idname" type="text" class="edit-name form-control input-lg" value="<%= user['idname'] %>">
								</div>
								<div class="col-sm-3 text-align-ceenter">
									<p id="update-err" class="ajax-message"><%= update_message %></p>
								</div>
							</div>
							<div class="row form-row-magin">
								<div class="col-xs-3 col-sm-3 text-align-ceenter">
									<h5>更新大頭貼</h5>
								</div>
								<div class="col-xs-9 col-sm-6 margin-center">
									<div class="image-upload pull-left list-inline">
										<label for="edit-img-input">
											<i class="fa fa-file-image-o fa-2x" aria-hidden="true">  <span id="edit-img-name" class="itag-img">選擇一張照片</span></i>
				    				</label>
				    				<input id="edit-img-input" type="file" name="userPhoto" onchange="changeFileName();"/>
									</div>
								</div>

							</div>
						</div>
						<div class="modal-footer">
							<div class="row">
								<div class="col-sm-2 col-xs-12 float-right">
									<a onclick="submitUser();" class="btn btn-primary btn-sm btn-block" href="javascript:{}">Submit</a>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

<!--post modal-->
<div id="postModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
  <div class="modal-content">

      <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			更新你的近況
      </div>
			<form id="post_form" class="form center-block" method="post" action="/post" enctype="multipart/form-data">
	      <div class="modal-body">

	            <div class="form-group">
	              <textarea id="content_input" name="postcontent" type="text" class="form-control input-lg" rows="4" placeholder="What do you want to share?"></textarea>
								<div class="row">
									<div id="post-img-div" class="img-hover display-none col-sm-7 col-xs-7">
										<img id="output-img-preview" class="img-responsive margin-center"/>
										<button id="delete-btn" type="button" class="btn-img-delete close">×</button>
									</div>
								</div>
	            </div>

	      </div>
	      <div class="modal-footer">
	          <div>
							<div class="image-upload pull-left list-inline">
								<label for="img-input">
		        			<i class="fa fa-picture-o" aria-hidden="true">  <span id="post-img-name">選擇一張照片</span></i>
		    				</label>
		    				<input id="img-input" type="file" name="userPhoto" onchange="changeFileName1();"/>
							</div>
		          <button onclick="document.getElementById('post_form').submit();" type="submit" value="Upload userpost" class="btn btn-primary btn-sm" data-dismiss="modal" aria-hidden="true">Post</button>

			  		</div>
	      </div>
		</form>
  </div>
  </div>
</div>
	<!-- script references -->
		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
		<script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/custom.js"></script>
		<!--masonry-->
		<script src="https://npmcdn.com/masonry-layout@4.0/dist/masonry.pkgd.min.js"></script>
		<script src="assets/js/scripts.js"></script>
		<!-- AJAX -->
	  <script type="text/javascript" src="assets/js/ajax.js"></script>
	</body>
</html>
